<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}管理后台{% endblock %}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/js/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/index.css">
    {% block style %}{% endblock %}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    {% include 'admin/header.html' %}

    {% include 'admin/menu.html' %}

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            {% block main %}{% endblock %}
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate.min.js"></script>
<script src="/js/layui/layui.js"></script>
<script src="/js/admin/index.js"></script>
{% block script %}{% endblock %}
</body>
</html>
