<div class="layui-header">
    <a class="layui-logo" href="/">Iris管理后台</a>
    <a href="javascript:void(0);" class="hideMenu" title="侧边伸缩"><i class="layui-icon layui-icon-shrink-right"></i></a>
    <a href="javascript:void(0);" class="refresh" title="刷新"><i class="layui-icon layui-icon-refresh-3"></i></a>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:void(0);">
                <img src="/images/logo.jpg" class="layui-nav-img">
                {{ user.Username }}
            </a>
            <dl class="layui-nav-child admin-op-list">
                <dd><a href="/password">修改密码</a></dd>
                <hr>
                <dd><a href="/logout">退出</a></dd>
            </dl>
        </li>
    </ul>
</div>
