{% extends 'admin/popbox.html' %}

{% block main %}
<form class="layui-form">
    <input type="hidden" name="id" value="{{ model.Id }}">
    <div class="layui-form-item">
        <label class="layui-form-label">分组名称</label>
        <div class="layui-input-block" style="width: 200px;">
            <input type="text" name="name" value="{{ model.Name }}" lay-verify="required" autocomplete="off" placeholder="请输入名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="submit">提交</button>
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
<script>
    layui.use(['form', 'layer'], function(){
        var form = layui.form;
        var layer = layui.layer;

        //监听提交
        form.on('submit(submit)', function(data){
            $.ajax({
                url: '/admin-module/edit',
                data: data.field,
                type: 'post',
                dataType: 'json',
                success: function(resp) {
                    if (!resp.code) {
                        layer.msg(resp.data);
                        setTimeout(function(){
                            window.parent.table.reload('tableReload');
                            parent.layer.closeAll();  // 关闭layer
                        }, 1000);
                    } else {
                        layer.msg(resp.data);
                    }
                }
            });
            return false;
        });
    });
</script>
{% endblock %}